<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookBuddy</title>
  <link rel="stylesheet" href="/styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="hero-section">
    <nav class="nav-bar">
      <ul class="nav-list">
        <li><img src="/ChatGPT Image Jun 14, 2025, 01_30_28 PM.png" alt="BookBuddy Logo" id="logo" /></li>
        <li class="brand">BookBuddy</li>
        <li><a href="/login">Login / Sign Up</a></li>
      </ul>
    </nav>

    <!-- SVG wave -->
    <div class="wave-svg">
      <img src="/banner-homepage.svg" alt="Wave Design" class="wave-img" />
    </div>
  </div>

  <!-- Tagline Section -->
  <section class="tagline">
    <h1>Studying, Simplified.</h1>
    <p>Introducing AI chatbot which will help you write notes.</p>
  </section>
</body>

</html>
